@import "../../global.scss";

.result {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../public/assets/bg.jpg");
  background-size: cover;

  .container {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 800px;
    align-items: center;
    margin-bottom: 60px;
    @include mobile{
      width: 550px;
      height: 600px;
    }

    .midComponent {
      display: flex;
      margin-top: 30px;
      background-color: rgba(238, 183, 82, 0.922);
      width: 65%;
      height: 50%;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      opacity: 0.9;

      @include mobile{
        align-items: flex-start;
        
      }

      .left {
        @include mobile{
          flex-direction: column;
          align-items: center;
          
        }
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: black;
            color: white;
            width: 85px;
            border-radius: 5px;
            margin-bottom: 10px;
            @include mobile{
              width: 120px;
              margin-top: 30px;
            }
            ArrowBackIcon {
              font-size: 25px;
            }
            h5{
              font-size: 16.5px;
              font-weight: 350;
              margin-left: 3px;
            }
          
        }

        img {
          width: 200px;
          height: 180px;
          object-fit: cover;
          border-radius: 10px;

          @include mobile{
            width: 120px;
            height: 100px;
          }
        }
      }

      .right {
        width: 330px;
        padding-top: 20px;
        padding: 10px 10px 10px 10px;

        @include mobile{
          width: 200px;
          margin-top: 20px;
        }

        .heading {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 10px;


          h2{
            font-family: 'comfortaa';
            @include mobile{
              font-size: 17px;
            }
          }
          h3 {
            font-family: "comfortaa";

            @include mobile{
              font-size: 12px;
            }
          }
        }
        .recipe {
          font-size: 13px;

          @include mobile{
            font-size: 11px;
          }
        }
      }
    }
  }
}
