@import '../../global.scss';

.login{
    width: 22%;
    height: 300px;
    background-color: rgb(29, 29, 29);
    color: $mainColor;
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    opacity: 0.97;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(68, 68, 80);

    @include mobile{
        top: 60px;
        width: 40%;
    }

    

   
    div{
        overflow: hidden;
        
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #userId{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            cursor: default;

            h4{
                font-size: 15px;
                font-family: 'Comfortaa', cursive;
            }
            #profilePic{
                margin-bottom: 15px;
                border-radius: 50%;
            }
        }
        

        button{
            height: 30px;
            width: 260px;
            background-color: rgba(0, 0, 0, 0.533);
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}